<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Selection</string>
		<string>Game</string>
		<string>Board</string>
		<string>Button</string>
		<string>LevelEditor</string>
		<string>Piece</string>
		<string>Pieces</string>
		<string>Utilities</string>
	</array>
	<key>Created</key>
	<string>2019-04-16 07:14:30 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
